* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ffffff;
    --primary-color: #222428;
    --secondery-color: #eeeeee;
    --hover-color: #F4F5F6;

}

/* additional classes */
.rounded {
    border-radius: 16px;
}

.border-none {
    border: none;
}

.border {
    border: 2px solid var(--secondery-color);
}

.border-1 {
    border: 1px solid var(--secondery-color);
}

.rounded-sm {
    border-radius: 7px;
}

.lg-padding {
    padding: 16px;
}

.md-padding {
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

.sm-padding {
    padding: 5px;
}

.sm-padding-top {
    padding: 2px 5px;
}

.bg-white {
    background-color: var(--main-color);
}

.bg-dark {
    background-color: var(--primary-color);
}

.bg-hover {
    background-color: var(--secondery-color);
}

.text-white {
    color: var(--main-color);
}

.link-list {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: var(--primary-color);
}

.font-600 {
    font-weight: 600;
}

.text-sm {
    font-size: small;
}

.font-500 {
    font-weight: 500;
}

.flex {
    display: flex;
    gap: 8px;
}

.flex-2 {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid;
}

.disable {
    opacity: 70%;
}

.disable:hover {
    background-color: none !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.center-item {
    align-items: center;
}

.icon {
    width: 20px;
}


.hover:hover {
    background-color: var(--hover-color);
}

.list {
    margin: 3px 0;
}

.list:hover .hover-2 {
    background-color: var(--main-color);
}


body {
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--primary-color);
}

.body-wrapper {
    display: flex;
    padding: 16px;
}

/* navigation */

.navigation {
    border: 2px solid var(--secondery-color);
    border-radius: 16px;
    min-height: calc(100vh - 32px);
    min-width: 300px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo part */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-image {
    width: 42px;
    height: 42px;
    border-radius: 8px;
}

.logo-text {
    font-weight: 600;
    font-size: 18px;
}

.user-logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* navigation part */
.folder {
    align-items: center;
    margin-bottom: 10px;
}

.folder-icon {
    width: 20px;
    height: 20px;
    background-image: url('folder-icon.png');
    background-size: cover;
    margin-right: 5px;
}

.folder-name {
    font-weight: bold;
}

.folder-content {
    margin-left: 20px;
    display: none;
}

.file {
    margin-bottom: 5px;
    width: 100%;
    flex-grow: 1;
}

.file-line {
    height: 154px;
    width: 2px;
    margin-left: -8px;
    background-color: var(--secondery-color);
}

.small-line {
    width: 15px;
    margin: 0 5px 0 -5px;
    height: 2px;
    background-color: var(--secondery-color);
}